body{
    font-family: 'Poppins', sans-serif;'
    margin: 0%;
}
h1{
    font-size: 3em;
}
.green{
    font-size: 3em;
    color: greenyellow;
}
.border-line{
  border-left: 7px solid;
  border-image: linear-gradient( blue, yellow);
  border-image-slice: 2;
  padding-left: 200px;
              
  }
.space-left{
    display: flex;
}
p{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    padding-left: 100px;
}
.img-modified img{
   max-width: 40%;
   height: auto;
   padding-left: 300px;
   padding-top: 100px;
}
.button{
    background-image:linear-gradient(orange; violet);
    font-display: large;
    font-weight: 800px;
    padding-left: 100px;
}
#word{
    font-weight: bolder;
    text-align: center;
}
.second-stage{
    display: flex;
}
.logo img{
    max-width: 40%;
    height: auto;
}
}
.dividend{
    border: 2px solid;
    max-width: 20%;
    height: auto;
    padding-left: 20px;
    
}
