body{
    font-family: 'Poppins', sans-serif;'
    margin: 0%;
}
h1{
    font-size: 3em;
}
.green{
    font-size: 3em;
    color: greenyellow;
}
.border-line{
  border-left: 7px solid;
  border-image: linear-gradient( blue, yellow);
  border-image-slice: 2;
  padding-left: 200px;
              
  }
.space-left{
    display: flex;
}
p{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    padding-left: 100px;
}
.img-modified img{
   max-width: 40%;
   height: auto;
   padding-left: 300px;
   padding-top: 100px;
}
.button{
    background-image:linear-gradient(orange, violet);
    font-display: large;
    font-weight: 800px;
    padding-left: 100px;
    box-shadow: 4px 4px 8px peru;
}
#word{
    font-weight: bolder;
    text-align: center;
}
.second-stage{
    display: flex;
}
.logo-one img{
    max-width: 40%;
    height: auto;
    box-shadow: 80px 80px 160px orangered;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    background-color:orangered ;

}
.logo-two img{
    max-width: 40%;
    height: auto;
    box-shadow: 80px 80px 160px aquamarine;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: aquamarine ;

}
.logo-three img{
    max-width: 40%;
    height: auto;
    box-shadow: 80px 80px 160px steelblue;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: steelblue ;

}
.dividend-one{
    box-shadow: 20px 20px 40px orangered;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border: thin;
    background-color: orangered;

}
.dividend-two{
    box-shadow: 20px 20px 40px aquamarine;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border: thin;
    background-color: aquamarine;
}
.dividend-three{
    box-shadow: 20px 20px 40px steelblue;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border: thin;
    background-color: steelblue;
}
