body{
    font-family: 'Poppins', sans-serif;'
    margin: 0%;
}
h1{
    font-size: 3em;
}
.border-line{
   
   border-left: solid;
   
}
.green{
    font-size: 3em;
    color: greenyellow;
}
.space-left{
    display: flex;
  
}
.img-modified-ty{
    max-width: 35%;
   height: auto;
   width: 100%;
   padding-left: 0%;
   padding-right: 100%;
   padding-top: 100px;
}

.img-modified img{
   max-width: 40%;
   height: auto;
   padding-left: 30%;
   padding-right: 40%;
   padding-top: 100px;
    
}
.img-change img{
    max-width: 20%;
   height: auto;
   padding-left: 0%;
   padding-right: 40%;
   padding-top: 100px;

}
.button{
    border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: teal;
  margin-left: 10%;

    
}
#word{
    font-weight: bolder;
    text-align: center;
}
.second-stage{
    display: flex;
}
.logo-one img{
    max-width: 40%;
    height: auto;
    box-shadow: 80px 80px 160px orangered;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    background-color:orangered ;

}
.logo-two img{
    max-width: 40%;
    height: auto;
    box-shadow: 80px 80px 160px aquamarine;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: aquamarine ;

}
.logo-three img{
    max-width: 40%;
    height: auto;
    box-shadow: 80px 80px 160px steelblue;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: steelblue ;

}
.dividend-one{
    box-shadow: 20px 20px 40px orangered;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border: thin;
    background-color: orangered;

}
.dividend-two{
    box-shadow: 20px 20px 40px aquamarine;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border: thin;
    background-color: aquamarine;
}
.dividend-three{
    box-shadow: 20px 20px 40px steelblue;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border: thin;
    background-color: steelblue;
}
